.footer {
  margin-top: 150px;
}

.foo_text {
  text-align: center;
  margin: 0 auto;
}
.form_footer {
  text-align: center;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  display: flex;
  gap: 20px;
}
.form_footer .box_left {
  width: 50%;
}
.form_footer .box_right {
  background-color: #212121;
  text-align: center;
  padding: 20px 0;
  height: 300px;
  width: 50%;
}
.form_footer .box_right .whats p {
  padding-bottom: 5px;
}
.form_footer .box_right .whats {
  height: 250px;
  padding: 10px;
}
.form_footer .box_right .whats_icon {
  padding-bottom: 20px;
}
.form_footer .form_box {
  color: white;
}
.form_footer .form_box .ov_btn_slide_close {
  width: 80%;
}
.form_footer .form_box input {
  border: none;
  color: white;
  background-color: #212121;
  width: 100%;
  margin: 20px auto;
  padding: 10px 0;
  display: block;
}

.form_footer .form_box input::placeholder {
  padding-left: 10px;
  font-family: "Antonio", sans-serif;
  color: white;
}
.foo_down {
  margin-top: 150px;
  margin-bottom: 100px;
  text-align: center;
  color: white;
}

.foo_down .direccion {
  margin: 0 auto;
  width: 75%;
}
.footer .box_right .whats .whats_p p {
  font-size: 40px;
}

.town_logo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 15%;
}
.foo_text {
  position: relative;
}

.ov_btn_slide_close {
  color: white;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  letter-spacing: 5px;
  padding: 15px 70px;
  border: 2px solid #ffcf00;
}
.ov_btn_slide_close:before,
.ov_btn_slide_close:after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: -50%;
  background-color: #ffcf00; /* color de fondo hover */
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.ov_btn_slide_close:after {
  left: 100%;
}
.ov_btn_slide_close:hover {
  color: black; /* color de fuente hover */
}
.ov_btn_slide_close:hover:before {
  left: 0;
}
.ov_btn_slide_close:hover:after {
  left: 50%;
}
