.foo_text {
  text-align: center;
  margin: 0 auto;
}
.form_footer {
  text-align: center;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  display: flex;
  gap: 20px;
}
.form_footer .box_left {
  width: 50%;
}
.form_footer .box_right {
  background-color: #212121;
  text-align: center;
  width: 50%;
}
.form_footer .box_right .whats {
  padding: 10px;
}
.form_footer .box_right .whats_icon {
  padding-bottom: 10px;
}
.form_footer .form_box {
  color: white;
}
.form_footer .form_box input {
  border: none;
  color: white;
  background-color: #212121;
  width: 100%;
  margin: 15px auto;
  padding: 10px 0;
  display: block;
}
.form_footer .form_box input::placeholder {
  padding-left: 10px;
  font-family: "Antonio", sans-serif;
  color: white;
}
.form_footer .form_box .btn {
  padding: 20px 0;
}
.form_footer .form_box .btn a {
  padding: 8px 80px;
  border: 1px solid #ffcf00;
}
.foo_down {
  margin: 50px 0;
  text-align: center;
  color: white;
}
.foo_down .btn {
  padding: 20px 0;
}
.foo_down .btn a {
  padding: 8px 80px;
  border: 1px solid #ffcf00;
}
.foo_down .direccion {
  margin: 0 auto;
  width: 60%;
}

.town_logo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 15%;
}
.foo_text {
  position: relative;
}
