.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: 300;
  z-index: 999;
  font-size: 18px;
  border-bottom: 1px solid white;
  align-items: center;
  display: flex;
  background-color: transparent;
}
.menu .imagen {
  cursor: pointer;
  margin: 0 auto;
  width: 200px;
}
.menu_left {
  width: 20%;
}
.menu_right {
  text-align: right;
  width: 80%;
}
.menu .links {
  display: inline-block;
  padding-right: 20px;
  border-right: 1px solid white;
}
.menu .links a {
  margin-right: 50px;
  display: inline-block;
}
.menu .socials {
  padding-right: 20px;
  padding-left: 20px;
  display: inline-block;
}

.menu_right a {
  padding: 30px 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  border-bottom: 4px solid transparent;
}
.menu_right a:hover {
  border-bottom: 4px solid darkgoldenrod;
}
