.button {
  cursor: pointer;
  font-size: 16px;
  font-family: "Antonio", sans-serif;
  color: white;
  background-color: black;
  padding: 10px 80px;
  border: 1px solid #ffcf00;
}

.button:hover {
  background-color: #ffcf00;
  color: black;
  transition-duration: 0.5s;
}
.type_b_2 {
}
.type_b_3 {
}
