.text {
  font-size: 18px;
  margin: 20px 0;
  color: white;
}
.size_small {
  font-size: 12px;
}
.size_aviso {
  font-size: 10px;
  margin: 0;
}
.size_big {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}
.color_yellow {
  color: #ffcf00;
}

.center {
  text-align: center !important;
}

@media (max-width: 1000px) {
  .text {
    font-size: 16px;
  }
}
