.subtitle {
  font-size: 15px;
  margin-bottom: 20px;
  padding: 0;
  letter-spacing: 10px;
}
.size_whats {
  letter-spacing: 0;
  font-weight: bold;
  font-size: 20px;
}
.size_whats_1 {
  letter-spacing: 0;
  font-weight: bold;
  font-size: 26px;
}
.size_medium {
  margin: 0;
  font-weight: 100;
  font-size: 25px;
  letter-spacing: 16px;
}
.size_medium_1 {
  margin: 0;
  font-weight: lighter;
  font-size: 15px;
  letter-spacing: 4px;
}
.size_small {
  font-size: 12px;
  margin-bottom: 10px;
  letter-spacing: 0;
}
.color_white {
  color: white;
}
.color_yellow {
  color: #ffcf00;
}

@media (max-width: 1080px) {
  .title {
    display: inline-block;
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    color: #666;
    letter-spacing: -0.2px;
    margin: 10px 0;
  }
  .white {
    color: white;
  }

  .size_big {
    font-size: 35px;
    font-weight: 700;
  }
  .size_medium {
    font-size: 25px;
    font-weight: 700;
  }
  .size_small {
    font-size: 18px;
    font-weight: 700;
  }
}
