.main {
  background-color: black;
}
.casas_box {
  margin: 0 25px;
}
.images .imagen_1 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: bottom center;
  background-size: cover;
}
.header .overlay {
  text-align: center;
  padding-top: 22vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.header .overlay .text h1 {
  margin-bottom: 70px;
}
.header .overlay .arrow {
  margin-top: 25px;
}
.section_1 {
  margin-top: 35px;
  text-align: center;
}

.section_1 .text_right .top_text1 {
  padding: 5px 32px;
  color: #ffcf00;
  background-color: #212122;
}
.section_1 .text_right .top_text2 {
  padding: 5px 32px;
  color: black;
  background-color: #ffcf00;
}
.section_2 {
  padding: 0 20px;
  display: flex;
}
.section_2 .images {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 10px;
}
.section_2 .box_left {
  width: 85%;
}
.section_2 .box_left .text {
  padding-right: 10px;
}
.section_2 .box_right {
  width: 15%;
}
.section_2 p span {
  color: #ffcf00;
}
.section_3 {
  padding: 20px 20px;
  gap: 10px;
  display: flex;
}
.section_3 .box_left {
  position: relative;
  width: 85%;
}
.section_3 .box_right {
  text-align: center;
  margin: 0 auto;
  width: 15%;
}
.section_3 .box_left .imagen_1 {
  height: 400px;
  background-position: center center;
  background-size: cover;
}
.section_3 .box_left .overlay {
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.section_3 .text span {
  color: #ffcf00;
}

.section_3 .box_right {
  text-align: center;
  padding: 20px 5px;
  margin: 0 auto;
  background-color: #212122;
}
.section_3 .box_right .whats_icon {
  padding: 15px 0;
}
.section_3 .box_right .whats_icon svg {
  padding: 10px 0;
}

.section_4 {
  text-align: center;
}

.section_5 {
  margin: 0 25px;
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}

.section_5 .box_left {
  width: 85%;
}
.section_5 .box_left .title {
  padding-left: 0;
  padding-bottom: 40px;
}
.section_5 .box_images h2 {
  padding-left: 20px;
}
.section_5 .box_right {
  width: 15%;
}
.section_5 .box_images {
  display: flex;
}
.section_5 .box_images .box_text_1 {
  width: 50%;
}
.section_5 .box_images .box_text_2 {
  width: 50%;
}
.section_5 li {
  font-weight: 100;
  color: white;
  margin-bottom: 25px;
}
.section_5 .imagen {
  display: flex;
}
.section_5 .box_images .imagen .left {
  width: 50%;
}
.section_5 .box_images .imagen .right {
  width: 50%;
}
.section_5 .box_right .imagen {
  padding-bottom: 5px;
}
.section_5 .box_right .text {
  text-align: center;
  padding: 20px 5px;
  background-color: #212122;
}
.section_5 .box_right .text h1 {
  font-size: 16px;
}

.section_5 .box_right .btn {
  cursor: pointer;
  text-align: center;
  color: white;
  margin-top: 10px;
  font-size: 15px;
  padding: 10px 0;
  letter-spacing: 2px;
  border: 1px solid #ffcf00;
}
.section_5 .box_right .whats_icon {
  padding: 15px 0;
  text-align: center;
}
.section_5 .box_right .whats_icon svg {
  padding-top: 10px;
}

.section_6 {
  text-align: center;
}

.section_6 .text_right .top_text1 {
  padding: 5px 32px;
  color: #ffcf00;
  background-color: #212122;
}
.section_6 .text_right .top_text2 {
  padding: 5px 32px;
  color: black;
  background-color: #ffcf00;
}
/* sec_7 */

.section_7 {
  padding: 0 20px;
  gap: 10px;
  display: flex;
}
.section_7 .images {
  display: flex;
  align-items: center;
  gap: 10px;
}

.section_7 .box_left {
  width: 85%;
}

.section_7 .box_right {
  width: 15%;
}
.section_7 p span {
  color: #ffcf00;
}

/* coments */

.coments {
  margin-top: 150px;
  background-color: #212121;
  gap: 10px;
  margin-bottom: 20px;
  display: flex;
}
.coments .imagen {
  position: relative;
  width: 50%;
  height: 400px;
}
.coments .imagen .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.coments .text {
  padding: 20px 10px;
  width: 60%;
}
.text .coment .stars {
  padding-bottom: 15px;
  padding-right: 10px;
  display: inline-block;
}

.coments .text .coment {
  padding-right: 200px;
  padding-top: 40px;
}
.coments .text .coment_person {
  padding-top: 80px;
}
.coments .item1 {
  width: 100%;
  height: 400px;
  background-position: bottom center;
  background-size: cover;
}
/* desarrollo */
.desarrollo {
  margin-top: 50px;
  gap: 20px;
  margin-bottom: 150px;
  display: flex;
}
.desarrollo .left {
  width: 50%;
  text-align: right;
}

.desarrollo .right {
  width: 50%;
}

.section_10 {
  text-align: center;
}

.section_10 .text h2 {
  padding: 30px 0;
  font-size: 30px;
  font-weight: 300;
}
.section_10 .imagen {
  padding: 50px 0;
  margin: 0 auto;
  width: 30%;
}
.section_10 .text p {
  font-size: 26px;
  margin-bottom: 35px;
  font-weight: lighter;
  letter-spacing: 8px;
}

.ov_btn_slide_close {
  color: white;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #ffcf00;
  cursor: pointer;
  text-align: center;
  color: white;
  margin-top: 10px;
  font-size: 19px;
  letter-spacing: 2px;
  border: 1px solid #ffcf00;
}
.ov_btn_slide_close:before,
.ov_btn_slide_close:after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: -50%;
  background-color: #ffcf00; /* color de fondo hover */
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.ov_btn_slide_close:after {
  left: 100%;
}
.ov_btn_slide_close:hover {
  color: black; /* color de fuente hover */
}
.ov_btn_slide_close:hover:before {
  left: 0;
}
.ov_btn_slide_close:hover:after {
  left: 50%;
}

/* animation arrow */

.arrow {
  width: 100px;
  height: 50px;
  margin: 0 auto;
  position: relative;
  transition: 1s;
}
.arrow:hover {
  transform: translateY(+50px) scale(1.5);
}
.arrow1 {
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  transition: 1s;
}
.arrow1:hover {
  transform: translateY(+25px) scale(1.5);
}

@media only screen and (max-width: 1000px) {
  .images .imagen_1 {
    position: relative;
    width: 100%;
    height: 80vh;
    background-position: bottom center;
    background-size: cover;
  }
  .header .overlay {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    padding: 200px 0 40px 0;
  }
  .section_2 {
    padding: 0 20px;
    display: block;
  }
  .section_2 .box_left {
    width: 100%;
  }
  .section_2 .box_right {
    width: 100%;
  }
  .section_3 {
    padding: 20px 20px;
    gap: 10px;
    display: block;
  }
  .section_3 .box_left {
    position: relative;
    width: 100%;
  }
  .section_3 .box_right {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  .section_5 {
    margin: 0 25px;
    display: block;
    gap: 20px;
    margin-bottom: 50px;
  }
  .section_5 .box_images {
    display: block;
  }
  .section_5 .box_images .box_text_1 {
    width: 100%;
  }
  .section_5 .box_images .box_text_2 {
    width: 100%;
  }
  .section_5 .box_left {
    width: 100%;
  }
  .section_5 .box_right {
    width: 100%;
  }
}
