.main {
  background-color: black;
}

.images .imagen_1 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: bottom center;
  background-size: cover;
}
.header .overlay {
  text-align: center;
  padding-top: 30vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
}
.header .overlay .text h1 {
  margin-bottom: 70px;
}
.header .overlay .arrow {
  margin-top: 25px;
}
.section_1 {
  margin-top: 35px;
  text-align: center;
}

.section_2 {
  gap: 10px;
  margin: 20px 35px;
  display: flex;
}
.section_2 .box_left {
  width: 85%;
}
.section_2 .box_right {
  width: 15%;
}
.section_2 .images {
  display: flex;
  align-items: center;
  gap: 10px;
}
.section_2 .images .imagen1 {
  width: 100%;
  height: 250px;
  background-position: bottom center;
  background-size: cover;
}
.section_2 .images .imagen2 {
  width: 100%;
  height: 250px;
  background-position: bottom center;
  background-size: cover;
}
.section_2 .box_left .images .imagen1 {
  width: 70%;
}
.section_2 .box_left .images .imagen2 {
  width: 30%;
}
.section_2 p span {
  color: #ffcf00;
}
.section_2mobi {
  display: none;
}

.section_3 {
  gap: 10px;
  margin: 0 35px;
  display: flex;
}
.section_3 .box_left {
  position: relative;
  width: 85%;
}
.section_3 .box_right {
  width: 15%;
}
.section_3 .box_left .imagen_1 {
  height: 400px;
  background-position: center center;
  background-size: cover;
}
.section_3 .box_left .overlay {
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.section_3 .text span {
  color: #ffcf00;
}

.section_3 .box_right {
  text-align: center;
  background-color: #212122;
}

.section_3 .box_right .btn {
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 15px 0;
  letter-spacing: 2px;
  border: 1px solid #ffcf00;
}
.section_3 .box_right .whats_icon {
  padding: 50px 0;
  text-align: center;
}

.section_4 {
  text-align: center;
  padding: 20px 0;
}

.section_5 {
  display: flex;
  padding: 0 35px;
  margin-bottom: 100px;
}

.section_5 .box_left {
  width: 85%;
}

.section_5 .box_right {
  width: 15%;
}
.section_5 .box_images {
  display: flex;
  align-items: center;
}
.section_5 .box_images .box_text_1 {
  width: 30%;
}

.section_5 .box_images .box_text_2 {
  line-height: 45px;
  width: 70%;
  padding-left: 25px;
}
.section_5 li {
  color: white;
}

.section_5 .box_right .imagen {
  padding-bottom: 5px;
}
.section_5 .box_right .text {
  text-align: center;
  padding: 20px 5px;
  background-color: #212122;
}
.section_5 .box_right .text h1 {
  font-size: 16px;
}

.section_5 .box_right .btn {
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: 15px;
  padding: 10px 0;
  letter-spacing: 2px;
  border: 1px solid #ffcf00;
}
.section_5 .box_right .whats_icon {
  padding: 15px 0;
  text-align: center;
}
.section_5 .box_right .whats_icon svg {
  margin-top: 10px;
}

.section_6 {
  text-align: center;
}

/*section 7*/
.section_7mobi {
  display: none;
}
.section_7 {
  margin: 20px 35px;
  display: flex;
  gap: 10px;
}
.section_7 .box_left {
  width: 85%;
}
.section_7 .box_right {
  width: 15%;
}
.section_7 .box_left .images {
  display: flex;
  align-items: center;
  gap: 10px;
}

.section_7 .images .imagen1 {
  width: 100%;
  height: 250px;
  background-position: center center;
  background-size: cover;
}
.section_7 .images .imagen2 {
  width: 100%;
  height: 250px;
  background-position: bottom center;
  background-size: cover;
}
.section_7 .images .imagen3 {
  width: 100%;
  height: 250px;
  background-position: bottom center;
  background-size: cover;
}
.section_7 .box_left .images .imagen1 {
  width: 60%;
}
.section_7 .box_left .images .imagen2 {
  width: 20%;
}
.section_7 .box_left .images .imagen3 {
  width: 20%;
}
.section_7 p span {
  color: #ffcf00;
}

/* coments */

.coments {
  margin-top: 150px;
  background-color: #212121;
  gap: 10px;
  margin-bottom: 20px;
  display: flex;
}
.coments .imagen {
  position: relative;
  width: 50%;
  height: 400px;
}
.coments .imagen .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.coments .text {
  padding: 20px 10px;
  width: 60%;
}
.text .coment .stars {
  padding-bottom: 15px;
  padding-right: 10px;
  display: inline-block;
}

.coments .text .coment {
  padding-right: 200px;
  padding-top: 40px;
}
.coments .text .coment_person {
  padding-top: 80px;
}
.coments .item1 {
  width: 100%;
  height: 400px;
  background-position: bottom center;
  background-size: cover;
}
/* desarrollo */
.desarrollo {
  margin-top: 30px;
  gap: 20px;
  margin-bottom: 150px;
  display: flex;
}
.desarrollo .left {
  width: 50%;
  text-align: right;
}

.desarrollo .right {
  width: 50%;
}

.section_10 {
  text-align: center;
}

.section_10 .text h2 {
  padding: 30px 0;
  font-size: 30px;
  font-weight: 300;
}
.section_10 .imagen {
  padding: 50px 0;
  margin: 0 auto;
  width: 30%;
}
.section_10 .text p {
  font-size: 26px;
  margin-bottom: 35px;
  font-weight: lighter;
  letter-spacing: 8px;
}
.section_DB {
  display: flex;
  padding: 0 35px;
  margin-bottom: 100px;
}

.section_DB .box_left {
  width: 85%;
}
.section_DB .box_left .title {
  padding-left: 0;
  padding-bottom: 40px;
}
.section_DB .box_images h2 {
  padding-left: 20px;
}
.section_DB .box_right {
  width: 15%;
}
.section_DB .box_images {
  display: flex;
  align-items: center;
}
.section_DB .box_images .box_text_1 {
  width: 60%;
}
.section_DB .box_images .box_text_1 .imagen {
  display: flex;
  width: 100%;
  gap: 10px;
}
.section_DB .box_images .box_text_2 {
  line-height: 35px;
  width: 40%;
}

.section_DB li {
  color: white;
}

.section_DB .box_right .imagen {
  padding-bottom: 5px;
}
.section_DB .box_right .text {
  text-align: center;
  padding: 20px 5px;
  background-color: #212122;
}
.section_DB .box_right .text h1 {
  font-size: 16px;
}

.section_DB .box_right .btn {
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: 15px;
  padding: 10px 0;
  letter-spacing: 2px;
  border: 1px solid #ffcf00;
}
.section_DB .box_right .whats_icon {
  padding: 15px 0;
  text-align: center;
}
.section_DB .box_right .whats_icon svg {
  margin-top: 10px;
}

.ov_btn_slide_close {
  color: white;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #ffcf00;
  cursor: pointer;
  text-align: center;
  color: white;
  margin-top: 10px;
  font-size: 19px;
  letter-spacing: 2px;
  border: 1px solid #ffcf00;
}
.ov_btn_slide_close:before,
.ov_btn_slide_close:after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: -50%;
  background-color: #ffcf00; /* color de fondo hover */
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.ov_btn_slide_close:after {
  left: 100%;
}
.ov_btn_slide_close:hover {
  color: black; /* color de fuente hover */
}
.ov_btn_slide_close:hover:before {
  left: 0;
}
.ov_btn_slide_close:hover:after {
  left: 50%;
}

.arrow {
  width: 100px;
  height: 50px;
  margin: 0 auto;
  position: relative;
  transition: 1s;
}
.arrow:hover {
  transform: translateY(+25px) scale(1.5);
}
.arrow1 {
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  transition: 1s;
}
.arrow1:hover {
  transform: translateY(+25px) scale(1.5);
}

@media only screen and (max-width: 1000px) {
  .images .imagen_1 {
    height: 80vh;
  }
  .header .overlay {
    height: 80vh;
    padding: 220px 0 40px 0;
  }
  .header .text {
    padding: 0 10px;
  }
  .section_1 .text h1 {
    font-size: 40px;
  }
  .section_2 {
    display: none;
  }
  .section_2mobi {
    display: block;
  }
  .section_2mobi .images {
    display: flex;
    gap: 5px;
  }
  .section_2mobi .images .imagen1 {
    width: 60%;
    height: 250px;
    background-position: bottom center;
    background-size: cover;
  }
  .section_2mobi .images .imagen2 {
    width: 40%;
    height: 250px;
    background-position: right center;
    background-size: cover;
  }
  .section_2mobi p span {
    color: #ffcf00;
  }
  .section_2mobi .box_right {
    padding: 10px 5px;
    gap: 5px;
    display: flex;
  }
  .section_2mobi .box_right .text {
    width: 60%;
  }
  .section_2mobi .box_right .text p {
    text-align: justify;
    font-size: 20px;
    margin: 0;
  }
  .section_2mobi .box_right .imagen {
    width: 40%;
  }
  .section_3 {
    margin: 0;
    display: block;
  }
  .section_3 .text h2 {
    padding: 0 15px;
    font-size: 18px;
    letter-spacing: 8px;
  }
  .section_3 .box_left {
    margin: 0;
    width: 100%;
  }
  .section_3 .box_right {
    padding: 10px 0;
    margin: 0;
    width: 100%;
  }
  .section_3 .box_right .whats_icon {
    padding: 10px 0;
  }
  .section_4 h1 {
    padding-top: 20px;
    font-size: 35px;
  }
  .section_5 {
    display: block;
    padding: 0 10px;
    align-self: start;
  }
  .section_5 .box_images {
    align-items: flex-start;
  }
  .section_5 .box_left {
    width: 100%;
  }
  .section_5 .box_right {
    width: 100%;
  }
  .section_5 .box_images .box_text_1 {
    width: 100%;
  }
  .section_5 .box_images .box_text_2 {
    width: 100%;
  }
  .section_DB {
    display: block;
    padding: 0 35px;
    margin-bottom: 100px;
  }
  .section_7 {
    display: none;
  }
  .section_7mobi {
    display: block;
  }
  .section_7mobi .box_left {
    width: 100%;
  }
  .section_7mobi .box_right {
    display: flex;
    padding: 10px;
    gap: 5px;
    width: 100%;
  }
  .section_7mobi .box_right .text {
    text-align: justify;
    width: 60%;
  }
  .section_7mobi .box_right .text p {
    margin: 0;
    font-size: 20px;
  }
  .section_7mobi .box_right .imagen {
    width: 40%;
  }
  .section_7mobi .box_left .images {
    display: flex;
    gap: 5px;
  }

  .section_7mobi .images .imagen1 {
    width: 100%;
    height: 250px;
    background-position: center center;
    background-size: cover;
  }
  .section_7mobi .images .imagen2 {
    width: 100%;
    height: 250px;
    background-position: bottom center;
    background-size: cover;
  }
  .section_7mobi .images .imagen3 {
    width: 100%;
    height: 250px;
    background-position: bottom center;
    background-size: cover;
  }
  .section_7mobi .box_left .images .imagen1 {
    width: 50%;
  }
  .section_7mobi .box_left .images .imagen2 {
    width: 25%;
  }
  .section_7mobi .box_left .images .imagen3 {
    width: 25%;
  }
  .section_7mobi p span {
    color: #ffcf00;
  }
  .section_DB {
    padding: 0 10px;
  }
  .section_DB .box_images {
    display: block;
    align-items: center;
  }
  .section_DB .box_left {
    width: 100%;
  }
  .section_DB .box_images .box_text_1 {
    width: 100%;
  }
  .section_DB .box_images .box_text_2 {
    line-height: 35px;
    width: 100%;
  }
  .section_DB .box_right {
    width: 100%;
  }
  .desarrollo {
    display: block;
  }
  .desarrollo .left {
    width: 80%;
    margin: 0 auto;
  }
  .desarrollo .ri {
    text-align: center;
  }
  .desarrollo .ri {
    text-align: center;
  }
  .desarrollo .img {
    width: 100%;
    text-align: center;
  }
  .section_10 h2 {
    letter-spacing: 5px;
  }
  .section_10 .imagen {
    width: 80%;
  }
}
